<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p>
            sorry not available right now
        </p>
        {{>footer}}
    </body>
</html>