<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p>
            craeted by {{name}}
        </p>
        <form>
            <input placeholder="enter the location">
            <button type="submit">Search</button>
        </form>
        <p id="message1"></p>
        <p id="message2"></p>
        {{>footer}}
        <script src="/js/script.js"></script>
    </body>
</html>